.env
*/.env

node_modules
*/node_modules

.DS_Store

*/.pnpm-store/*
*/.pnpm-store
# React Router
*/.react-router/*
*/.react-router
*/build/

# Python
.venv
*/.venv
__pycache__
*/__pycache__

#Planing folder
planning/
planning/*

skills/
skills/*

*/skills/*
*/skills

planning/
planning/*

*/planning/*
*/planning
